body {
	font-family: sans-serif;
	color: #111;
	margin: 0 auto;
	max-width: 900px;
}

h1 {
	font-size: 4em;
}

p {
	font-size: 2em;
}

a, a:visited, a:hover {
	border-radius: 4px;
	padding: .25em .5em;
	background: #333;
	box-shadow: 0px 0px 10px #999;
	color: white;
	text-decoration: none;
}

a:hover {
	background: #111;
	box-shadow: 0px 0px 10px #222;
}